.footer {
    background-color: rebeccapurple;
    margin: 10px 0px;
}

.footer-head {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 10px 0px;
    height: 3rem;
}

.footer-tail {
    height: 3rem;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 10px 0px;
}