@import url('https://fonts.googleapis.com/css?family=Sawarabi+Gothic&display=swap');

html {
    scroll-behavior: smooth;
}

html * {
    font-family: 'Sawarabi Gothic', sans-serif;
}

blockquote {
    border-left: 10px solid purple;
    padding-left: 15px;
    background-color: rgba(221, 160, 221, 0.3);
    font-weight: bold;
}

.row,
.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
    margin: 0 !important;
    padding: 0 !important;
}

.viewport {
    width: 100%;
    /*height: 100vh;*/
    background-color: rgba(255, 255, 255, 0.985);
    display: flex;
    flex-direction: column;
}

.viewport-top {
    top: 0;
    width: 100%;
    z-index: 10;
    order: 1;
    /*height: 6vh;*/
}

.viewport-middle {
    display: flex;
    flex-direction: column;
    min-Height: 94vh;
    order: 2;
    width: 100%;
}

.viewport-bottom {
    bottom: 0;
    width: 100%;
    background-color: rebeccapurple;
    z-index: 10;
    order: 3;
}

.wrapper-2-8 {
    display: grid;
    grid-template-columns: 20% 80%;
}

.wrapper-10 {
    display: grid;
    grid-template-columns: 100%;
}

.wrapper-3-7 {
    display: grid;
    grid-template-columns: 30% 70%;
}

.wrapper-5-5 {
    display: grid;
    grid-template-columns: 50% 50%;
}

.wrapper-50-50 {
    display: grid;
    grid-template-rows: 50% 50%;
}

.wrapper-3-3-3 {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
}

.wrapper-2-2-2-2-2 {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.desktop {
    display: block;
    height: 100%;
}

.mobile {
    display: none;
    height: 100%;
}

@media screen and (max-width: 500px) {
    .desktop {
        display: none;
    }

    .mobile {
        display: flex;
        flex: 1;
        flex-direction: column;
    }
}

.height-inherit {
    height: inherit;
}

.show {
    /*nav collapse 안보이는 문제*/
    z-index: 5;
}

.blank {
    height: 20px;
}