.pagination-span {
    display: inherit;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.page-link {
    transition: 0.5s ease;
    color: purple;
    border: none;
    border-radius: 10%;
}

.page-item,
.page-link {
    display: block;
}

.page-item.active .page-link {
    z-index: 3;
    color:
        #fff;
    background-color:
        rgba(102, 51, 153, 0.6);

    border-color:
        rgba(102, 51, 153, 0.6);
}

.page-item:focus,
.page-link:focus {
    box-shadow: none;
}

.page-link:hover {
    color: black
}