.postcard-inner {
    border: 1px solid rebeccapurple;
    margin-bottom: 4rem;
    padding: 1.3rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.postcard-inner:hover {
    box-shadow: 0 14px 28px rgba(101, 51, 153, 0.25), 0 10px 10px rgba(101, 51, 153, 0.22);
}

.post-title {
    display: grid;
    grid-template-columns: 10% 90%;
}

.postcard-inner a {
    text-decoration: none;
    color: black;
}

.postcard-inner-desc {
    padding: 10px;
}

.postcard-inner-desc p::before {
    content: '# ';
    color: rebeccapurple;
}

.blog-category-alert {
    text-align: center;
    margin: 20px 0px;
    background-color: #663399;
    border: none;
    color: white;
    border-radius: 0;
}