.site-banner {
    width: 100%;
    height: 50vw;
}

.site-banner img {
    width: 100vw;
    height: 50vw;
}

.carousel-caption {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0;
}

.carousel-caption a {
    text-decoration: none;
    color: black;
}

.carousel-indicators li {
    background-color: blueviolet;
}